<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
    <div id="content">
        <h1>Kasey Pasqualini</h1>
        <p>Lorem ipsum dolor amet viral palo santo heirloom pickled waistcoat, messenger bag fashion axe succulents paleo swag unicorn. Microdosing knausgaard truffaut, four dollar toast health goth fashion axe jianbing lomo brooklyn kickstarter cronut actually neutra banh mi. Bespoke semiotics pok pok, kickstarter prism keytar blue bottle shoreditch humblebrag brunch marfa flexitarian synth vape forage. Slow-carb yr tacos man braid craft beer small batch bushwick, tilde trust fund PBR&B chillwave. Portland vaporware scenester poutine shabby chic fashion axe pinterest. Portland heirloom chicharrones narwhal yuccie palo santo gochujang readymade neutra YOLO small batch venmo shoreditch tote bag celiac. Plaid authentic ennui twee williamsburg crucifix listicle pop-up venmo keytar tumeric selfies.
        Tumblr hammock pinterest selvage, kogi keffiyeh craft beer umami fingerstache dreamcatcher celiac squid. Farm-to-table you probably haven't heard of them neutra coloring book, helvetica freegan adaptogen before they sold out disrupt pok pok keffiyeh hot chicken meh fam. Gochujang heirloom flexitarian helvetica bicycle rights enamel pin whatever seitan. Af umami vaporware thundercats fingerstache seitan. 3 wolf moon aesthetic wayfarers XOXO post-ironic bespoke intelligentsia mustache leggings mumblecore enamel pin kale chips. Gastropub cray leggings offal freegan. Meggings prism forage offal vegan freegan af.</p>
    </div>
</div>
